# Python---Basic syntax and data structure

In [ ]:
# Basic data types
character_name = 'Tom'  # string
character_age = 50   # number
is_male  = False   # boolean value

## strings

phase = 'william palladion'
print(phase)

In [5]:
print(phase + 'is cool')

william palladionis cool

In [10]:
print('william \npalladion')  # start the new line

william
palladion

In [11]:
print('william \'palladion\'')  # add marks

william 'palladion'

In [12]:
# some string functions
phase.upper()

'WILLIAM PALLADION'

In [ ]:
phase.lower()
phase.isupper()
phase.islower()

In [13]:
# combined functions
phase.upper().isupper()

True

In [14]:
len(phase)  # note that the empty space also counts for 1

17

In [15]:
phase[0]

'w'

In [21]:
# index function
phase.index('a')

5

In [19]:
phase.index('palladion')  # return the index of the first alphabet 'p'

8

In [22]:
# replace()
phase.replace('william', 'Ives')

'Ives palladion'

## numbers

In [23]:
10 // 3   #  take the integer

3

In [24]:
10 % 3  # take the remainder

1

In [27]:
# change number to strings
my_sum = 4
print( str(my_sum) + ' ' + 'is my favorite number')

4 is my favorite number

In [28]:
# some functions
pow(3, 2)  # 3^2

9

In [29]:
round(3.7)

4

In [31]:
from math import *
ceil(3.7)

4

In [32]:
# input function
name = input('Enter your name :')
print('Hello' + name + '!')

Enter your name :William
HelloWilliam!

In [34]:
# note that the input function outputs a string, not a number
# so it might get an error like following example:
num1 = input('Enter a number:')
num2 = input('Enter another number:')
result = num1 + num2
print(result)

Enter a number:1
Enter another number:3
13

In [35]:
# you see, for two strings, it just add them together like words
# if you add str and numbers, it will return an err
# we can use the int(), float() to change types

In [36]:
int('12', 16)  # hexadecimal (16进制)

18

In [38]:
float('3')

3.0

In [39]:
int('3.7')

ValueError: invalid literal for int() with base 10: '3.7'

In [40]:
int(3.6)  # take the integer part

3

## List

In [50]:
demo = [4, 7, -2, 3, 1, 5]

In [42]:
demo[0]

4

In [43]:
demo[1:]

[7, -2, 3, 1, 5]

In [44]:
demo[0:3]  # number with index 0, 1, 2, but not 3

[4, 7, -2]

In [51]:
demo[1] = 10
demo

[4, 10, -2, 3, 1, 5]

In [52]:
# list functions
add_list = ['Joe', 'william', 'Jack']
demo.extend(add_list)  # add one list to the end of one list
demo

[4, 10, -2, 3, 1, 5, 'Joe', 'william', 'Jack']

In [53]:
# add numbers to list
demo.append(20)
demo

[4, 10, -2, 3, 1, 5, 'Joe', 'william', 'Jack', 20]

In [54]:
# insert(position, element)
demo.insert(1, 15)
demo

[4, 15, 10, -2, 3, 1, 5, 'Joe', 'william', 'Jack', 20]

In [55]:
# delete some elements remove()
demo.remove('Joe')

In [56]:
demo

[4, 15, 10, -2, 3, 1, 5, 'william', 'Jack', 20]

In [57]:
# delete the last elements and pop it 
demo.pop()

20

In [58]:
demo

[4, 15, 10, -2, 3, 1, 5, 'william', 'Jack']

In [59]:
demo.index(5)  # first time the element appears

6

In [61]:
# other delete methods
del demo[1]
demo

[4, 10, -2, 3, 1, 5, 'william', 'Jack']

In [62]:
# count the number of appearance of the element
demo.count(10)

1

In [64]:
# sort() from smallest to largest
demo1 = demo[:-2]
demo1  # interesting thing is that it automatially sort itself

[-2, 1, 3, 4, 5, 10]

In [67]:
# note sort() is an operation did on the list itself,
# so no output is expected
demo1.sort()  
demo1

[-2, 1, 3, 4, 5, 10]

In [68]:
# sort reversely
demo1.sort(reverse = True)
demo1

[10, 5, 4, 3, 1, -2]

In [71]:
# take the orders reversely
demo.reverse()
demo

['Jack', 'william', 10, 5, 4, 3, 1, -2]

In [72]:
# copy the list
demo2 = demo.copy()
demo2

['Jack', 'william', 10, 5, 4, 3, 1, -2]

## Tuple

In [74]:
coordinate = (4, 5)
type(coordinate)

tuple

In [75]:
# we can't change tuple elements, very stable form 
coordinate[1] = 10

TypeError: 'tuple' object does not support item assignment

In [76]:
# we can combine with lists
coordinate = [(4, 5), (6, 7), (80, 34)]
coordinate[1]

(6, 7)

## Functions

In [77]:
def say_hi():
    print('Hello user')

In [78]:
say_hi()

Hello user

In [79]:
def say_hi(name):
    print('Hello' + ' ' + name)

In [80]:
say_hi('Mike')

Hello Mike

In [81]:
# use return statement to define what you want
def cube(num):
    num * num * num

In [82]:
cube(3)

In [83]:
print(cube(3))

None

In [84]:
# The funcion does not know what you want
def cube(num):
    return num * num * num

In [85]:
cube(3)

27

In [86]:
# If use return statement, the statemts under return will not be executed
def cube(num):
    return num * num * num
    print('This will not appear')

In [87]:
cube(3)

27

## If statements

In [88]:
if True:
    print('simplest condion')

simplest condion

In [89]:
is_male = True
is_tall = False

# and / or / ^ (xor) / not / not-equal !=
if is_male or is_tall:
    print('you are a male or tall or both')
else:
    print('you are neither a male nor tall')

you are a male or tall or both

In [92]:
x = 10; y = 20
if x + y < 10:
    print('small sum')
elif x + y < 20:
    print('median sum')
elif (x + y > 30) ^ (x + y > 35):  ## exclusive or ^
    print('large sum')
else:
    print('super large')

super large

## For loop & while loop

In [93]:
for letter in 'test one':
    print(letter)

t
e
s
t

o
n
e

In [94]:
for index in range(5):
    print(index)

0
1
2
3
4

In [96]:
friends = ['Jim', 'Karen', 'Kevin']
for index in range(len(friends)):
    print(friends[index])

Jim
Karen
Kevin

In [97]:
# while loop
i = 1
while i < 10:
    print(i)
    i = i + 2;   # i += 2

1
3
5
7
9

## Dictionary

In [98]:
# key and values
month = {'Jan': 'January',
         'Feb': 'February',
         'Mar': 'March'}

In [99]:
month['Jan']

'January'

In [100]:
month.get('Jan')  # if enter a key not exist it will return 'None'

'January'

In [101]:
month.get('luv', 'Not valid key')
# we can define what to return when the key does not exist

'Not valid key'

## 2D Lists

In [103]:
num = [ [1, 2, 3],
        [4, 5, 6], 
        [7, 8, 9] ] 
num

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [107]:
num[2][1]  # 2D index

8

In [108]:
num[:2]  # the index 0, 1 list

[[1, 2, 3], [4, 5, 6]]

In [112]:
num[:]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [113]:
# indexing
demo = [1, 2, 11, 8, 7, 6]

In [114]:
demo[1:]

[2, 11, 8, 7, 6]

In [115]:
demo[1:4]

[2, 11, 8]

In [116]:
demo[1:4:2]  # [start:end:step] note the end is not obtainable

[2, 8]

In [117]:
# cut the last n ones [:-n]
demo[:-2]

[1, 2, 11, 8]

In [118]:
# get the last n ones [-n:]
demo[-2:]

[7, 6]

In [120]:
# take the last to first in reverse order
demo[::-1]

[6, 7, 8, 11, 2, 1]

In [121]:
demo[1:-2]

[2, 11, 8]

## Class & Object

In [1]:
class student:
    def __init__(self, name, major, gpa):
        self.name = name
        self.major = major
        self.gpa = gpa
    
    def on_honor(self):
        if self.gpa >= 3.5:
            print('This student gets a scholorship')
        else:
            print('no scholorship')

In [4]:
st1 = student('Jim', 'Maths', 4.0)

In [5]:
st1.name

'Jim'

In [6]:
st1.on_honor()

This student gets a scholorship

## Inheritance

In [7]:
class chef:
    def make_chicken(self):
        print('The chef can make a chicken')

In [8]:
# inheritance 
mychef = chef()
mychef.make_chicken()

The chef can make a chicken

In [9]:
# If we define a new class, in which we want it to inheritate 
# all the natures of another class
class ChineseChef(chef):
    def make_fried(self):
        print('The Chinese chef can make fried rice')

In [10]:
cf1 = ChineseChef()

In [11]:
cf1.make_chicken()

The chef can make a chicken

In [12]:
cf1.make_fried()

The Chinese chef can make fried rice